<!DOCTYPE html>
<html>
<head>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<!--BODY-->
<body>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Bitvestor</a>
            <a class="btn btn-dark" onclick="@("window.location.href='" + @Url.Action("Login","Table") + "'");" href="#">Sign In</a>
            <a class="btn btn-dark" onclick="@("window.location.href='" + @Url.Action("Registration","Table") + "'");" href="#">Register</a>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year – Bitvestor</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html> 